extends base

block content
    main.add
        h2.heading-secondary Edit a shift
        form.form.edit_shift__form
            .form__group
                select#client
                    option(value=`${shift.client._id}` selected='')= shift.client.name
                    each client in clients
                        option(value=`${client._id}`)= client.name
                label.form__label(for='select') Client
                i.form__bar
            .form__group
                select#cleaner
                    option(value=`${shift.cleaner._id}` selected='')= shift.cleaner.name
                    each cleaner in cleaners
                        option(value=`${cleaner._id}`)= cleaner.name
                label.form__label(for='select') Cleaner
                i.form__bar
            .form__group
                input#date(type='datetime-local' required='required' value=`${shift.date.toISOString().substring(0, 16)}`)
                label.form__label(for='input') Date
                i.form__bar
            .form__group
                input#hours(type='number' required='required' value=`${shift.hours}`)
                label.form__label(for='input') Hours
                i.form__bar
            .form__group
                input#amount(type='number' required='required' value=`${shift.amount}`)
                label.form__label(for='input') Amount
                i.form__bar
            .form__group
                input#commission(type='number' required='required' value=`${shift.commission}`)
                label.form__label(for='input') Commission
                i.form__bar
            .form__group
                label.form__label.form__label-payment(for='radio') Payment method
                .form__group-radio
                    .form__radio
                        - var checked = shift.paymentMethod === 'cash' ? true : false;
                        input(checked = checked ? '' : false name='paymentMethod' type='radio' value='cash')
                        label.radio-label(for='radio-1') Cash
                    .form__radio
                        input(checked = checked ? false : '' name='paymentMethod' type='radio' value='bank')
                        label.radio-label(for='radio-2') Bank
            .form__group
                label.form__label.form__label-payment(for='radio') Paid
                .form__group-radio
                    .form__radio
                        input(checked = shift.paid ? '' : false name='paid' type='radio' value='Yes')
                        label.radio-label(for='radio-1') Yes
                    .form__radio
                        input(checked = shift.paid ? false : '' name='paid' type='radio' value='No')
                        label.radio-label(for='radio-2') No
            .form__group
                - var paymentDate = shift.paymentDate ? shift.paymentDate.toISOString().substring(0, 16) : '';
                input#paymentDate(type='datetime-local' value=`${paymentDate}`)
                label.form__label(for='input') Payment Date
                i.form__bar
            .form__group
                input#notes(required='required' value=`${shift.notes}`)
                label.form__label.form__label-notes(for='input') Notes
                i.form__bar
            input#id(type='hidden' value=`${shift._id}`)
            .form__button
                input.form__button-submit(type='submit' value='Save')
